{% load static %}
{% load crispy_forms_tags %}

<div class="modal-header"> </div>
{% csrf_token %}
<div class="container">
	<h4 align="center">Update Branch Information</h4>
	<div class="card">
		<div class="card-body">
			<div>
				<form method="post" id="edit_form" data-url="{% url 'finance-ledger-edit' id %}" class="update-form">
					{% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-3 mb-0">
							{{ form.gl_code|as_crispy_field }}
						</div>
						<div class="form-group col-md-3 mb-0">
							{{ form.gl_name|as_crispy_field }}
						</div>
						<div class="form-group col-md-3 mb-0">
							{{ form.reporting_gl_code|as_crispy_field }}
						</div>
						<div class="form-group col-md-3 mb-0">
							{{ form.reporting_gl_serial|as_crispy_field }}
						</div>
						<div class="form-group col-md-3 mb-0">
							{{ form.parent_code|as_crispy_field }}
						</div>
						<div class="form-group col-md-3 mb-0">
							{{ form.sundry_max_amount|as_crispy_field }}
						</div>
						<div class="form-group col-md-3 mb-0">
							{{ form.gl_comments|as_crispy_field }}
						</div>
						<div class="form-group col-md-3 mb-0">
							{{ form.income_gl|as_crispy_field }}
						</div>
						<div class="form-group col-md-3 mb-0">
							{{ form.expense_gl|as_crispy_field }}
						</div>
						<div class="form-group col-md-3 mb-0">
							{{ form.assets_gl|as_crispy_field }}
						</div>
						<div class="form-group col-md-3 mb-0">
							{{ form.liabilities_gl|as_crispy_field }}
						</div>
						<div class="form-group col-md-3 mb-0">
							{{ form.is_leaf_node|as_crispy_field }}
						</div>
						<div class="form-group col-md-3 mb-0">
							{{ form.debit_allowed|as_crispy_field }}
						</div>
						<div class="form-group col-md-3 mb-0">
							{{ form.credit_allowed|as_crispy_field }}
						</div>
						<div class="form-group col-md-3 mb-0">
							{{ form.sundry_flag|as_crispy_field }}
						</div>
						<div class="form-group col-md-3 mb-0">
							{{ form.maintain_by_system|as_crispy_field }}
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Close</button>
				<button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
			</div>
			</form>
			<div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'assets/javascript/pages/common-submit-editdata.js' %}"></script>