{% extends 'appauth/appauth-home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Account Statement | {{ application_title }}
{% endblock %}

{% block body %}

<body>
  <div class="app">
    <div class="page">

      <div class="card card-fluid">

        <div class="card-body">
          <div class="form-group">
            <div class="card card-fluid">

              <div class="card-body">
                <h4 class="card-title">Account Statement</h4>
                <form>
                  <div class="form-row">
                    {% if is_head_office_user %}
                    <div class="form-group col-md-3 mb-0">
                      {{ forms.branch_code | as_crispy_field }}
                    </div>
                    {% else %}
                    <input type='hidden' id='id_branch_code' name='branch_code' value={{ global_branch_code }} readonly>
                    {% endif %}
                    <div class="form-group col-md-3 mb-0">
                      {{ forms.products_type | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                      {{ forms.account_number | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                      {{ forms.account_balance | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                      {{ forms.from_date | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                      {{ forms.upto_date | as_crispy_field }}
                    </div>
                  </div>
                  <div>
                    <button type="button" id="btnSearchStockMst" class="btn btn-primary"> Search Transaction
                      Details</button>
                    <button type="button" id="btnSubmit" class="btn btn-primary">Print Statement</button>
                  </div>

                </form>

              </div>
            </div>
          </div>


          <header class="card-title-bar">
            <h3 class="card-title text-center"> Account Statement</h3>
          </header>
          <div class="card card-fluid">
            <div class="card-body">
              <table id="dt-table-list" class="table dt-responsive nowrap w-100">
                <thead>
                  <tr>
                    <th> Serial Number</th>
                    <th> Tran Date </th>
                    <th> Comments </th>
                    <th> Credit Amount </th>
                    <th> Debit Amount</th>
                    <th> Balance </th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th> Serial Number</th>
                    <th> Tran Date </th>
                    <th> Comments </th>
                    <th> Credit Amount </th>
                    <th> Debit Amount</th>
                    <th> Balance </th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock body %}

  {% block js %}
  <script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/extensions/responsive/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/extensions/responsive/responsive.bootstrap4.min.js' %}"></script>

  <script src="{% static 'assets/javascript/pages/finance/finance-actran-details.js' %}"></script>
  <script src="{% static 'assets/javascript/pages/finance/finance-accounts-search.js' %}"></script>

  {% endblock %}
</body>