{% extends 'appauth/appauth-home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Manage Account Type | {{ application_title }}
{% endblock %}

{% block body %}

<div class="row">
	<div class="col-lg-12">
		<div class="card card-fluid">
			<div class="card-body">
				<div>
					<form method="post" id="tran_table_data" data-url="{% url 'finance-accounttype-insert' %}"
						class="update-form">
						<div class="form-group">
							<div class="card">
								<div class="card-body">
									<div class="form-row">
										<div class="form-group col-md-10 mb-0">
											<h3 class="card-title"> Manage Account Type </h3>
										</div>
									</div>
									<div>
										{% csrf_token %}
										<div class="form-row">
											<div class="form-group col-md-3 mb-0">
												{{ form.account_type_code|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.account_type_name|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.account_type_short_name|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.maximum_credit_limit|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.account_ledger_code|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.receivable_ledger|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.payable_ledger|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.income_ledger|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.expense_ledger|as_crispy_field }}
											</div>
										</div>
										<br>
										<button type="button" id="btnAddRecord" class="btn btn-primary">Create
											Account Type</button>
										<button type="button" id="btnSearch" class="btn btn-info pull-right"> Search
											Account Type</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="app">

			<div class="card card-fluid">
				<div class="card-body">
					<table id="dt-table-list" class="table dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th> AC Type Code </th>
								<th> AC Type Name </th>
								<th> Short Name </th>
								<th> Credit Limit </th>
								<th> Account Ledger </th>
								<th> Receivable Ledger </th>
								<th> Payable Ledger </th>
								<th> Income Ledger </th>
								<th> Expense Ledger </th>
								<th> Status </th>
								<th> Action</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th> AC Type Code </th>
								<th> AC Type Name </th>
								<th> Short Name </th>
								<th> Credit Limit </th>
								<th> Account Ledger </th>
								<th> Receivable Ledger </th>
								<th> Payable Ledger </th>
								<th> Income Ledger </th>
								<th> Expense Ledger </th>
								<th> Status </th>
								<th> Action</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="edit_model" role="dialog">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
			</div>
		</div>
	</div>

	{% endblock body %}

	{% block js %}
	<script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/extensions/responsive/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/extensions/responsive/responsive.bootstrap4.min.js' %}"></script>
	<script src="{% static 'assets/javascript/pages/dataTables.bootstrap.js' %}"></script>

	<script src="{% static 'assets/javascript/pages/finance/finance-accounttype-createlist.js' %}"></script>
	{% endblock %}
</div>
