{% extends 'appauth/appauth-home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Manage General Ledger | {{ application_title }}
{% endblock %}

{% block body %}

<div class="row">
	<div class="col-lg-12">
		<div class="card card-fluid">
			<div class="card-body">
				<div>
					<form method="post" id="tran_table_data" data-url="{% url 'finance-ledger-insert' %}"
						class="update-form">
						<div class="form-group">
							<div class="card">
								<div class="card-body">
									<div class="form-row">
										<div class="form-group col-md-10 mb-0">
											<h3 class="card-title"> Manage General Ledger </h3>
										</div>
									</div>
									<div>
										{% csrf_token %}
										<div class="form-row">
											<div class="form-group col-md-3 mb-0">
												{{ form.gl_code|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.gl_name|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.reporting_gl_code|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.reporting_gl_serial|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.parent_code|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.sundry_max_amount|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.gl_comments|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.income_gl|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.expense_gl|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.assets_gl|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.liabilities_gl|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.is_leaf_node|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.debit_allowed|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.credit_allowed|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.sundry_flag|as_crispy_field }}
											</div>
											<div class="form-group col-md-3 mb-0">
												{{ form.maintain_by_system|as_crispy_field }}
											</div>
										</div>
										<button type="button" id="btnAddRecord" class="btn btn-primary">Create New
											Ledger</button>
										<button type="button" id="btnSearch" class="btn btn-info pull-right"> Search
											Ledger</button>

										<button type="button" id="btnPrintCoa" class="btn btn-info pull-right"> Print
											COA</button>

									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="app">

			<div class="card card-fluid">
				<div class="card-body">
					<table id="dt-table-list" class="table dt-responsive nowrap w-100">
						<thead>
							<tr>
								<th> Ledger Code </th>
								<th> Ledger Name </th>
								<th> Parent Ledger </th>
								<th> Reporting Ledger </th>
								<th> Assets Ledger </th>
								<th> Liabilities Ledger </th>
								<th> Income Ledger </th>
								<th> Expense Ledger </th>
								<th> Leaf Node </th>
								<th> Debit Allowed </th>
								<th> Credit Allowed </th>
								<th> Sundry Ledger </th>
								<th> Sundry Max Amount </th>
								<th> Comments </th>
								<th> Action</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th> Ledger Code </th>
								<th> Ledger Name </th>
								<th> Parent Ledger </th>
								<th> Reporting Ledger </th>
								<th> Assets Ledger </th>
								<th> Liabilities Ledger </th>
								<th> Income Ledger </th>
								<th> Expense Ledger </th>
								<th> Leaf Node </th>
								<th> Debit Allowed </th>
								<th> Credit Allowed </th>
								<th> Sundry Ledger </th>
								<th> Sundry Max Amount </th>
								<th> Comments </th>
								<th> Action</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="edit_model" role="dialog">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
			</div>
		</div>
	</div>

	{% endblock body %}

	{% block js %}
	<script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/extensions/responsive/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/extensions/responsive/responsive.bootstrap4.min.js' %}"></script>
	<script src="{% static 'assets/javascript/pages/dataTables.bootstrap.js' %}"></script>

	<script src="{% static 'assets/javascript/pages/finance/finance-ledger-createlist.js' %}"></script>
	{% endblock %}
</div>