{% extends 'appauth/appauth-home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Transaction List | {{ application_title }}
{% endblock %}

{% block body %}

<body>

  <div class="app">
    <div class="page">

      <div class="card card-fluid">

        <div class="card-body">
          <div class="form-group">
            <div class="card card-fluid">

              <div class="card-body">
                <h4 class="card-title"> Search Transaction </h4>
                <form>
                  <div class="form-row">
                    {% if is_head_office_user  %}
                    <div class="form-group col-md-3 mb-0">
                      {{ forms.branch_code | as_crispy_field }}
                    </div>
                    {% else %}
                    <input type='hidden' id='id_branch_code' name='branch_code'
                      value={{ global_branch_code }} readonly>
                    {% endif %}
                    <div class="form-group col-md-3 mb-0">
                      {{ forms.org_teller_id | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                      {{ forms.auth_pending | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                      {{ forms.transaction_date | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                      {{ forms.from_date | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                      {{ forms.upto_date | as_crispy_field }}
                    </div>
                  </div>
                  <div class>
                    <button type="button" id="btnSearchStockMst" class="btn btn-primary"> Search Transaction</button>
                  </div>
                </form>

              </div>
            </div>
          </div>


          <header class="card-title-bar">
            <h3 class="card-title text-center"> Transaction List</h3>
          </header>
          <div class="card card-fluid">
            <div class="card-body">
              <table id="dt-table-list" class="table dt-responsive nowrap w-100">
                <thead>
                  <tr>
                    <th> Transaction Date</th>
                    <th> Request Type </th>
                    <th> Transaction Amount </th>
                    <th> Cancel Amount </th>
                    <th> Balance Amount </th>
                    <th> Entry User </th>
                    <th> Entry On </th>
                    <th> Auth User </th>
                    <th> Auth On </th>
                    <th> Cancel User</th>
                    <th> Cancel On</th>
                    <th> Action</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th> Transaction Date</th>
                    <th> Request Type </th>
                    <th> Transaction Amount </th>
                    <th> Cancel Amount </th>
                    <th> Balance Amount </th>
                    <th> Entry User </th>
                    <th> Entry On </th>
                    <th> Auth User </th>
                    <th> Auth On </th>
                    <th> Cancel User</th>
                    <th> Cancel On</th>
                    <th> Action</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>

        <div class="modal fade" id="view_details" role="dialog">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h5 class="modal-title text-center">Transaction Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="table-responsive">
                <table id="data_table_details" class="table table-striped table-hover table-bordered table-sm">
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% endblock body %}

  {% block js %}
  <script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/extensions/responsive/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/extensions/responsive/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/javascript/pages/dataTables.bootstrap.js' %}"></script>
  <script src="{% static 'assets/javascript/pages/common-parameter-details.js' %}"></script>
  <script src="{% static 'assets/javascript/pages/finance/finance-telbaltrf-authlist.js' %}"></script>

  {% endblock %}
</body>