{% extends 'appauth/appauth-home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Inter Branch Transaction | {{ application_title }}
{% endblock %}

{% block body %}


<div class="row">
	<div class="col-lg-12">
		<div class="card card-fluid">
			<div class="card-body">
				<div>
					<form method="post" id="tran_table_data" data-url="{% url 'finance-ibrorg-traninsert' %}"
						class="update-form">
						<div class="form-group">
							<div class="card">
								<div class="card-body">
									<div class="form-row">
										<div class="form-item col-md-10 mb-0">
											<h3 class="card-title">Inter Branch Transaction</h3>
										</div>
									</div>
									<div>

										{% csrf_token %}
										<div class="form-row">
											{% if is_head_office_user_bool %}
											<div class="form-group col-md-3 mb-0">
												{{ form.org_branch_code | as_crispy_field }}
											</div>
											{% else %}
											<input type='hidden' id='id_org_branch_code' name='org_branch_code' value={{ global_branch_code }} readonly>
											{% endif %}
											<div class="form-item col-md-3 mb-0">
												{{ form.res_branch_code|as_crispy_field }}
											</div>
											<div class="form-item col-md-3 mb-0">
												{{ form.transaction_date|as_crispy_field }}
											</div>
											<div class="form-item col-md-3 mb-0">
												{{ form.res_gl_code|as_crispy_field }}
											</div>
											<div class="form-item col-md-3 mb-0">
												{{ form.tran_amount|as_crispy_field }}
											</div>
											<div class="form-item col-md-3 mb-0">
												{{ form.transaction_narration|as_crispy_field }}
											</div>
										</div>
										<button type="button" id="btnAddItem" class="btn btn-primary">Post Transaction</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endblock body %}

	{% block js %}
	<script src="{% static 'assets/javascript/pages/finance/finance-ibrorg-transaction.js' %}"></script>
	{% endblock %}
	</body>