{% load static %}
{% load crispy_forms_tags %}

<div class="modal-header"> </div>
{% csrf_token %}
<div class="container">
	<h4 align="center">Update {{title}} Information</h4>
	<div class="card">
		<div class="card-body">
			<div>
				<form method="post" id="edit_form" data-url="{% url 'hrm-pay-bill-info-edit' id %}" class="update-form">
					{% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-3 mb-0">
							{{ form.bill_date|as_crispy_field }}
						</div> 

						<div class="form-group col-md-3 mb-0">
							{{ form.bill_comments|as_crispy_field }}
						</div> 											
						<div class="form-group col-md-3 mb-0">
							{{ form.bill_doc_detail|as_crispy_field }}
						</div> 											
						<div class="form-group col-md-3 mb-0">
							{{ form.bill_amount|as_crispy_field }}
						</div> 											
						<div class="form-group col-md-3 mb-0">
							{{ form.approval_amount|as_crispy_field }}
						</div> 											
						<div class="form-group col-md-3 mb-0">
							{{ form.prepare_by|as_crispy_field }}
						</div> 											
						<div class="form-group col-md-3 mb-0">
							{{ form.checked_by|as_crispy_field }}
						</div> 											
						<div class="form-group col-md-3 mb-0">
							{{ form.approve_by|as_crispy_field }}
						</div> 											
						<div class="form-group col-md-3 mb-0">
							{{ form.checked_status|as_crispy_field }}
						</div> 						
						<div class="form-group col-md-3 mb-0">
							{{ form.approve_status|as_crispy_field }}
						</div> 						
						<div class="form-group col-md-3 mb-0">
							{{ form.checked_status|as_crispy_field }}
						</div> 						
						<div class="form-group col-md-3 mb-0">
							{{ form.approve_date|as_crispy_field }}
						</div> 						
						<div class="form-group col-md-3 mb-0">
							{{ form.attached_file|as_crispy_field }}
						</div> 
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Close</button>
				<button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
			</div>
			</form>
			<div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'assets/javascript/pages/common-submit-editdata.js' %}"></script>