{% extends 'appauth/appauth-home.html' %} {% load static %} {% load crispy_forms_tags %} {% block title %} Manage
Employee | {{ application_title }}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/javascript/cropper/cropper.min.css' %}">
{% endblock %}

{% block body %}

<div class="row" style="color: black;font-weight:400;">
	<div class="col-lg-12">
		<div>
			<div>
				<div class="page-section">
					<div class="section-block">
						<!-- Default Steps -->
						<!-- .bs-stepper -->
						<div id="stepper" class="bs-stepper">
							<!-- .card -->
							<div class="card">
								<!-- .card-header -->
								<div class="card-header">
									<h3 class="card-title text-center">{{title}}</h3>

									<!-- .steps -->
									<div class="steps steps-" role="tablist">
										<ul>
											<li class="step active" data-target="#test-l-1" data-validate="fieldset01">
												<a href="#" class="step-trigger" tabindex="-1"
													aria-selected="true"><span
														class="step-indicator step-indicator-icon"><i
															class="oi oi-account-login"></i></span>
													<span class="d-none d-sm-inline">Employee Details</span></a>
											</li>
											<li class="step" data-target="#test-l-2" data-validate="fieldset02">
												<a href="#" class="step-trigger" tabindex="-1"
													aria-selected="false"><span
														class="step-indicator step-indicator-icon"><i
															class="oi oi-person"></i></span>
													<span class="d-none d-sm-inline">Employee Education</span></a>
											</li>
											<li class="step" data-target="#test-l-3" data-validate="fieldset03">
												<a href="#" class="step-trigger" tabindex="-1"
													aria-selected="false"><span
														class="step-indicator step-indicator-icon"><i
															class="oi oi-credit-card"></i></span>
													<span class="d-none d-sm-inline">Employee Experience</span></a>
											</li>
											<li class="step" data-target="#test-l-4" data-validate="agreement">
												<a href="#" class="step-trigger" tabindex="-1"
													aria-selected="false"><span
														class="step-indicator step-indicator-icon"><i
															class="oi oi-check"></i></span>
													<span class="d-none d-sm-inline">Employee Nominee</span></a>
											</li>
											<li class="step" data-target="#test-l-5" data-validate="agreement">
												<a href="#" class="step-trigger" tabindex="-1"
													aria-selected="false"><span
														class="step-indicator step-indicator-icon"><i
															class="oi oi-check"></i></span>
													<span class="d-none d-sm-inline">Employee Image</span></a>
											</li>
										</ul>
									</div>
									<!-- /.steps -->
								</div>
								<!-- /.card-header -->
								<!-- .card-body -->
								<div class="card-body">
									<form method="post" id="stepper-form" name="stepperForm"
										data-url="{% url 'hrm-employee-list-edit' employee_id %}"
										class="update-form p-lg-4 p-sm-3 p-0">
										<!-- tran_table_data -->
										{% csrf_token %}
										<!-- .content -->
										<div id="test-l-1" class="content fade active dstepper-block">
											<!-- fieldset -->
											<fieldset>
												<input type="hidden" value="{{employee_id}}" readonly
													id="seted_employee_id">
												<!-- .card -->
												<div class="card bg-light">
													<!-- .card  body-->
													<div class="card-body p-2">
														<div class="d-flex">
															<legend>Employee Personal Information</legend>
														</div>
														<div class="form-row">

															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.employee_name|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.employee_father_name|as_crispy_field}}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.employee_mother_name|as_crispy_field}}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{form.employee_date_of_birth|as_crispy_field}}
																</div>
															</div>
															<!-- /.form-group -->

															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.employee_blood_group|as_crispy_field}}
																</div>
															</div>
															<!-- /.form-group -->

															<!-- /.form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.employee_sex|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- /.form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{form.employee_marital_status|as_crispy_field}}
																</div>
															</div>
															<!-- /.form-group -->

															<!-- /.form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.employee_national_id|as_crispy_field}}
																</div>
															</div>
															<!-- /.form-group -->
															<div class="form-group col-md-12 mb-0">
																<div class="p-0 m-0">
																	<h6>contact Information</h6>

																</div>
																<hr>
															</div>
															<!-- /.form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.country_id|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- /.form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.division_id|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->

															<!-- /.form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.district_id|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- /.form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.upozila_id|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- /.form-group -->
															<div class="form-group col-md-6 mb-0">
																<!-- <div class="p-0 m-0"> -->
																{{ form.employee_present_address|as_crispy_field}}
																<!-- </div> -->
															</div>
															<!-- /.form-group -->
															<!-- /.form-group -->
															<div class="form-group col-md-6 mb-0">
																<!-- <div class="p-0 m-0"> -->
																{{form.employee_permanent_address|as_crispy_field}}
																<!-- </div> -->
															</div>
															<!-- /.form-group -->
															<!-- /.form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.employee_phone_own|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- /.form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.employee_phone_office|as_crispy_field}}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- /form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.employee_phone_home|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- /form-group -->

															<!-- /.form-group -->

														</div>
														<!-- /.form row -->
													</div>
													<!-- /.card body-->
												</div>
												<!-- /.card -->
												<!-- .card -->
												<div class="card bg-light">
													<!-- .card  body-->
													<div class="card-body p-2">
														<!-- .form-row -->
														<div class="form-row">

															<div class="form-group col-md-12 mb-0">
																<div class="p-0 m-0">
																	<h6>Optional contact Information</h6>

																</div>
																<hr>
															</div>
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.eme_contact_name|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.eme_contact_relation|as_crispy_field}}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.eme_contact_phone|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.eme_contact_address|as_crispy_field}}
																</div>
															</div>
															<!-- /.form-group -->
															<div class="form-group col-md-12 mb-0">
																<div class="p-0 m-0">
																	<h6>Official Information</h6>

																</div>
																<hr>
															</div>
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.employee_tin|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- /.form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.email_personal|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->

															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{form.employee_joining_date|as_crispy_field}}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.employee_status|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->

															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.office_id|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.emptype_id|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.salscale|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.designation_id|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.email_official|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.reporting_to|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->

															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.current_shift|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.office_location|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.card_number|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
																<div class="p-0 m-0">
																	{{ form.salary_bank|as_crispy_field }}
																</div>
															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">

																{{ form.salary_bank_ac|as_crispy_field }}

															</div>
															<!-- /.form-group -->
															<!-- /.form-group -->
															<div class="form-group col-md-3 mb-0">

																{{ form.passport_no|as_crispy_field }}

															</div>
															<!-- /.form-group -->
															<!-- /.form-group -->
															<div class="form-group col-md-3 mb-0">

																{{ form.driving_licence|as_crispy_field }}

															</div>
															<!-- /.form-group -->
															<!-- .form-group -->
															<div class="form-group col-md-3 mb-0">
                                                                {% with employee_data.tea_employee_id.all|first as teacher %}
                                                                
                                                                <div class="p-0 m-0">
                                                                    <div class="form-check">
                                                                        <input type="checkbox" name="is_teacher" {% if teacher.status == 'A' %} checked    {% endif %} value={{teacher.status}}  class="form-check-input" id="id_is_teacher">
                                                                        <label class="form-check-label" for="id_is_teacher">
                                                                            Will he/she take classes?
                                                                        </label>
                                                                      </div>
                                                                </div>
                                                                {% endwith %}
                                                            </div>
															<!-- /.form-group -->
														</div><!-- /.form-row -->
													</div><!-- /.card  body-->
												</div><!-- /.card -->
												<hr class="mt-1" />
												<!-- .d-flex -->
												<div class="d-flex">
													<button type="button" class="next btn btn-primary ml-auto"
														data-validate="fieldset01">
														Next step
													</button>
												</div>
												<!-- /.d-flex -->
											</fieldset>
											<!-- /fieldset -->
										</div>
										<!-- /.content -->
										<!-- .content -->
										<div id="test-l-2" class="content fade dstepper-none">
											<!-- fieldset -->
											<fieldset>
												<!-- .card -->
												<div class="card bg-light">
													<!-- .card  body-->
													<div class="card-body p-2">

														<legend>Employee Education</legend>
														<!-- .education Qualification -->
														<div id="education_qualification">
															<input type="hidden" id="eduId" name="eduId" value="1">
															<!-- .form-group -->
															{%for edu in education_degree%}
															<div id="eduqationDivId{{edu.id}}" class="form-row">
																<div class="form-group col-md-2 mb-0">
																	<div class="p-0 m-0">
																		<div id="div_id_degree_name" class="form-group">
																			<label for="id_degree_name"
																				class=" requiredField">
																				degree Name<span
																					class="asteriskField">*</span>
																			</label>
																			<select class="select form-control"
																				onchange="edit_education('{{edu.employee_id.employee_id}}','{{edu.id}}','{{edu.serial_no}}')"
																				id="degree_id{{edu.id}}">
																				<option value="">---------</option>
																				{% for degree in degree_info %}
																				<option value="{{degree.degree_name}}"
																					{% if edu.degree_name == degree.degree_name %} selected {% endif %}>
																					{{degree.degree_name}}
																				</option>
																				{% endfor %}
																			</select>

																		</div>
																	</div>
																</div>

																<div class="form-group col-md-2 mb-0">
																	<div class="p-0 m-0">
																		<div id="div_id_board_name" class="form-group">

																			<label for="id_board_name" class="">
																				Board Name
																			</label>
																			<input type="text" name="board_name"
																				maxlength="200"
																				onchange="edit_education('{{edu.employee_id.employee_id}}','{{edu.id}}','{{edu.serial_no}}')"
																				class="textinput textInput form-control"
																				id="board_name{{edu.id}}"
																				value="{{edu.board_name}}">
																		</div>
																	</div>
																</div>

																<div class="form-group col-md-1 mb-0">
																	<div class="p-0 m-0">
																		<div id="div_id_result_point"
																			class="form-group">
																			<label for="id_result_point" class="">
																				Point
																			</label>
																			<input type="text" name="result_point"
																				maxlength="100"
																				class="textinput textInput form-control"
																				onchange="edit_education('{{edu.employee_id.employee_id}}','{{edu.id}}','{{edu.serial_no}}')"
																				value="{{edu.result_point}}"
																				id="result_point{{edu.id}}">

																		</div>
																	</div>
																</div>

																<div class="form-group col-md-1 mb-0">
																	<div class="p-0 m-0">
																		<div id="div_id_result_grate"
																			class="form-group">
																			<label for="id_result_grate" class="">
																				Grade
																			</label>
																			<input type="text" name="result_grate"
																				maxlength="100"
																				class="textinput textInput form-control"
																				onchange="edit_education('{{edu.employee_id.employee_id}}','{{edu.id}}','{{edu.serial_no}}')"
																				value="{{edu.result_grate}}"
																				id="result_grate{{edu.id}}">
																		</div>
																	</div>
																</div>


																<div class="form-group col-md-2 mb-0">
																	<div class="p-0 m-0">
																		<div id="div_id_passing_year"
																			class="form-group">

																			<label for="id_passing_year" class="">
																				Passing year
																			</label>
																			<input type="text" name="passing_year"
																				maxlength="500"
																				class="textinput textInput form-control"
																				value="{{edu.passing_year}}"
																				onchange="edit_education('{{edu.employee_id.employee_id}}','{{edu.id}}','{{edu.serial_no}}')"
																				id="passing_year{{edu.id}}">
																		</div>
																	</div>
																</div>
																<!-- /.form-group -->
																<!-- .form-group -->
																<div class="form-group col-md-2 mb-0">
																	<div class="p-0 m-0">
																		<div id="div_id_institute_name"
																			class="form-group">
																			<label for="id_institute_name" class="">
																				Institute Name
																			</label>
																			<input type="text" name="institute_name"
																				maxlength="100"
																				class="textinput textInput form-control"
																				value="{{edu.institute_name}}"
																				onchange="edit_education('{{edu.employee_id.employee_id}}','{{edu.id}}','{{edu.serial_no}}')"
																				id="institute_name{{edu.id}}">
																		</div>
																	</div>
																</div>
																<!-- /.form-group -->
																<!-- .form-group -->
																<div class="form-group col-md-1  mb-0">
																	<div class="p-0 mt-4 mb-4">
																		<div id="div_id_delete_button "
																			class="form-group">
																			<label for="id_institute_name" class="">

																			</label>
																			<button class="btn btn-danger"
																				style="margin: 0px 5px;" type="button"
																				onclick="delete_form(this.parentElement.parentElement.parentElement,'{{edu.id}}',{edu_id:'{{edu.id}}',edu_count:null})"><i
																					class="fa fa-trash"></i></button>
																		</div>
																	</div>
																</div>

															</div>
															{%endfor%}

														</div>
														<!-- /.education Qualification -->
														<div class="mt-4">
															<button id="addnewEdu" type="button"
																class="btn btn-primary"> <i class="fas fa-plus"> Add
																	more</i></button>
														</div>

													</div><!-- /.card -->
												</div><!-- /.card  body-->
												<hr class="mt-1" />
												<div class="d-flex">
													<button type="button" class="prev btn btn-secondary">
														Previous
													</button>
													<button type="button" class="next btn btn-primary ml-auto"
														data-validate="fieldset02">
														Next step
													</button>
												</div>
											</fieldset>
											<!-- /fieldset -->
										</div>
										<!-- .content -->
										<div id="test-l-3" class="content fade dstepper-none">
											<!-- fieldset -->
											<fieldset>
												<legend>Employee Experience</legend>
												<!-- .card -->
												<div class="card bg-light">
													<div class="card-body">
														<div class="form-row">
															<div class="row">
																<div class="col-md-6">

																	<div class="row">

																		<!-- .form-group -->
																		<!-- .form-group -->
																		<input type="hidden" readonly
																			id="id_employee_experience_id">

																		<div class="form-group col-md-3 mb-0">
																			<div class="p-0 m-0">
																				<div id="div_id_company_name"
																					class="form-group">
																					<label for="id_company_name"
																						class=" requiredField">
																						Company Name<span
																							class="asteriskField">*</span>
																					</label>
																					<div class="">
																						<input type="text"
																							name="company_name"
																							maxlength="200"
																							class="textinput textInput form-control"
																							required=""
																							id="id_company_name">
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- /.form-group -->
																		<!-- .form-group -->
																		<div class="form-group col-md-3 mb-0">
																			<div class="p-0 m-0">
																				<div id="div_id_company_address"
																					class="form-group">
																					<label for="id_company_address"
																						class=" requiredField">
																						Company Address<span
																							class="asteriskField">*</span>
																					</label>
																					<div class="">
																						<input type="text"
																							name="company_address"
																							maxlength="500"
																							class="textinput textInput form-control"
																							required=""
																							id="id_company_address">
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- /.form-group -->
																		<!-- .form-group -->
																		<div class="form-group col-md-3 mb-0">
																			<div class="p-0 m-0">
																				<div id="div_id_company_type"
																					class="form-group">
																					<label for="id_company_type"
																						class="">
																						Comapany Type
																					</label>
																					<div class="">
																						<input type="text"
																							name="company_type"
																							maxlength="200"
																							class="textinput textInput form-control"
																							id="id_company_type">
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- /.form-group -->
																		<!-- .form-group -->
																		<div class="form-group col-md-3 mb-0">
																			<div class="p-0 m-0">
																				<div id="div_id_position"
																					class="form-group">
																					<label for="id_position" class="">
																						Position
																					</label>
																					<div class="">
																						<input type="text"
																							name="position"
																							maxlength="200"
																							class="textinput textInput form-control"
																							id="id_position">
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- /.form-group -->
																		<!-- .form-group -->
																		<div class="form-group col-md-3 mb-0">
																			<div class="p-0 m-0">
																				<div id="div_id_department"
																					class="form-group">
																					<label for="id_department" class="">
																						Department
																					</label>
																					<div class="">
																						<input type="text"
																							name="department"
																							maxlength="200"
																							class="textinput textInput form-control"
																							id="id_department">
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- /.form-group -->
																		<!-- .form-group -->
																		<div class="form-group col-md-3 mb-0">
																			<div class="p-0 m-0">
																				<div id="div_id_responsibility"
																					class="form-group">
																					<label for="id_responsibility"
																						class="">
																						Responsibility
																					</label>
																					<div class="">
																						<input type="text"
																							name="responsibility"
																							maxlength="800"
																							class="textinput textInput form-control"
																							id="id_responsibility">
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- /.form-group -->
																		<!-- .form-group -->
																		<div class="form-group col-md-3 mb-0">
																			<div class="p-0 m-0">
																				<div id="div_id_achievement"
																					class="form-group">
																					<label for="id_achievement"
																						class="">
																						Achivement
																					</label>
																					<div class="">
																						<input type="text"
																							name="achievement"
																							maxlength="200"
																							class="textinput textInput form-control"
																							id="id_achievement">
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- /.form-group -->
																		<!-- .form-group -->
																		<div class="form-group col-md-3 mb-0">
																			<div class="p-0 m-0">
																				<div id="div_id_phone_number"
																					class="form-group">
																					<label for="id_phone_number"
																						class="">
																						Phone Number
																					</label>
																					<div class="">
																						<input type="text"
																							name="phone_number"
																							maxlength="200"
																							class="textinput textInput form-control"
																							id="id_phone_number">
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- /.form-group -->
																		<!-- .form-group -->
																		<div class="form-group col-md-3 mb-0">
																			<div class="p-0 m-0">
																				<div id="div_id_email"
																					class="form-group">
																					<label for="id_email" class="">
																						Email
																					</label>
																					<div class="">
																						<input type="text" name="email"
																							maxlength="200"
																							class="textinput textInput form-control"
																							id="id_email">
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- /.form-group -->
																		<!-- .form-group -->
																		<div class="form-group col-md-3 mb-0">
																			<div class="p-0 m-0">
																				<div id="div_id_contact_person"
																					class="form-group">
																					<label for="id_contact_person"
																						class="">
																						Contact Person
																					</label>
																					<div class="">
																						<input type="text"
																							name="contact_person"
																							maxlength="200"
																							class="textinput textInput form-control"
																							id="id_contact_person">
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- /.form-group -->

																		<!-- .form-group -->
																		<div class="form-group col-md-3 mb-0">
																			<div class="p-0 m-0">
																				<div id="div_id_start_date"
																					class="form-group">

																					<label for="id_start_date"
																						class=" requiredField">
																						Start Date<span
																							class="asteriskField">*</span>
																					</label>
																					<div class="">

																						<input type="date"
																							name="start_date"
																							class="dateinput form-control"
																							required=""
																							id="id_start_date">
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- /.form-group -->
																		<!-- .form-group -->
																		<div class="form-group col-md-3 mb-0">
																			<div class="p-0 m-0">
																				<div id="div_id_end_date"
																					class="form-group">

																					<label for="id_end_date"
																						class=" requiredField">
																						End Date<span
																							class="asteriskField">*</span>
																					</label>
																					<div class="">

																						<input type="date"
																							name="end_date"
																							class="dateinput form-control"
																							required=""
																							id="id_end_date">
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- /.form-group -->
																		<!-- .form-group -->
																		<div class="form-group col-md-12 mb-0">
																			<div class="p-0 m-0">
																				<button id="experinceListAdd"
																					type="button"
																					class="btn btn-dark">Add To
																					List</button>
																			</div>
																		</div>
																		<!-- /.form-group -->
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="card">
																		<table class="table table-borderless">
																			<thead>
																				<tr>
																					<th scope="col">#</th>

																					<th scope="col">Company name</th>
																					<th scope="col">Company Type</th>
																					<th scope="col">Start Date</th>
																					<th scope="col">End Date</th>

																					<th scope="col">Edit</th>
																					<th scope="col">Delete</th>


																				</tr>
																			</thead>
																			<tbody id="custom-data-table">



																			</tbody>
																		</table>


																		{% verbatim %}
																		<script id="myTemplate"
																			type="text/x-handlebars-template">
																						{{#each . }}
																							<tr>
																							<th scope="row">{{@index}}</th>
																							
																							<td>{{company_name}}</td>
																							<td>{{company_type}}</td>
																							<td>{{start_date}}</td>
																							<td>{{end_date}}</td>
																							<td><button type="button" data-index={{@index}} class="btn btn-primary" onclick="fnEditFromList(this)"><i class="fas fa-pen-square"></i></button></td>
																							<td><button type="button" data-index={{@index}} class="btn btn-danger" onclick="fnDeleteFromList(this)"><i
																										class="fas fa-trash-alt"></i></button></td>
																							</tr>
																			
																				{{/each}}
																				</script>
																		{% endverbatim %}

																	</div>
																</div>


															</div>
														</div>
													</div>
												</div>
												<!-- /.card -->

												<hr class="mt-1" />
												<div class="d-flex">
													<button type="button" class="prev btn btn-secondary">
														Previous
													</button>
													<button type="button" class="next btn btn-primary ml-auto"
														data-validate="fieldset02">
														Next step
													</button>
												</div>
											</fieldset>
											<!-- /fieldset -->
										</div>
										<!-- /.content -->
										<!-- .content -->
										<div id="test-l-4" class="content fade dstepper-none">
											<!-- fieldset -->
											<fieldset>
												<legend>Employee Nominee</legend>
												<!-- .card -->
												<div class="card bg-light">
													<div class="card-body overflow-auto" style="height: 360px">
														<div class="form-row">
															<div class="row">
																<!-- .form-group -->
																<!-- .form-group -->
																<div class="form-group col-md-3 mb-0">
																	<div class="p-0 m-0">
																		{{third_form.nominee_name|as_crispy_field}}
																	</div>
																</div>
																<!-- /.form-group -->
																<!-- .form-group -->
																<div class="form-group col-md-3 mb-0">
																	<div class="p-0 m-0">
																		{{ third_form.nominee_sex|as_crispy_field }}
																	</div>
																</div>
																<!-- /.form-group -->
																<!-- .form-group -->
																<div class="form-group col-md-3 mb-0">
																	<div class="p-0 m-0">
																		{{third_form.nominee_father_name|as_crispy_field}}
																	</div>
																</div>
																<!-- /.form-group -->
																<!-- .form-group -->
																<div class="form-group col-md-3 mb-0">
																	<div class="p-0 m-0">
																		{{third_form.nominee_mother_name|as_crispy_field}}
																	</div>
																</div>
																<!-- /.form-group -->
																<!-- .form-group -->
																<div class="form-group col-md-3 mb-0">
																	<div class="p-0 m-0">
																		{{third_form.nominee_present_addr|as_crispy_field}}
																	</div>
																</div>
																<!-- /.form-group -->
																<!-- .form-group -->
																<div class="form-group col-md-3 mb-0">
																	<div class="p-0 m-0">
																		{{third_form.nominee_permanent_addr|as_crispy_field}}
																	</div>
																</div>
																<!-- /.form-group -->
																<!-- .form-group -->
																<div class="form-group col-md-3 mb-0">
																	<div class="p-0 m-0">
																		{{third_form.nominee_birth_date|as_crispy_field}}
																	</div>
																</div>
																<!-- /.form-group -->

																<!-- .form-group -->
																<div class="form-group col-md-3 mb-0">
																	<div class="p-0 m-0">
																		{{ third_form.nominee_nid_num|as_crispy_field }}
																	</div>
																</div>
																<!-- /.form-group -->
																<!-- .form-group -->
																<div class="form-group col-md-3 mb-0">
																	<div class="p-0 m-0">
																		{{ third_form.nominee_religion|as_crispy_field}}
																	</div>
																</div>
																<!-- /.form-group -->
																<!-- .form-group -->
																<div class="form-group col-md-3 mb-0">
																	<div class="p-0 m-0">
																		{{third_form.nominee_blood_group|as_crispy_field}}
																	</div>
																</div>
																<!-- /.form-group -->
																<!-- .form-group -->
																<div class="form-group col-md-3 mb-0">
																	<div class="p-0 m-0">
																		{{third_form.nominee_mobile_num|as_crispy_field}}
																	</div>
																</div>
																<!-- /.form-group -->

															</div>
														</div>
													</div>
												</div>
												<!-- /.card -->

												<hr class="mt-1" />
												<div class="d-flex">
													<button type="button" class="prev btn btn-secondary">
														Previous
													</button>

													<button type="button" class="next btn btn-primary ml-auto"
														data-validate="fieldset02">
														Next step
													</button>
												</div>
											</fieldset>
											<!-- /fieldset -->
										</div>
										<!-- /.content -->
										<!-- .content -->
										<div id="test-l-5" class="content fade dstepper-none">
											<!-- fieldset -->
											<fieldset>
												<legend style="color:red;">Did you give all the information? If all your
													information is correct, upload the student
													picture and signature..........</legend> <!-- .card -->
												<div class="form-row">
													<div class="form-group col-md-4 mb-0">
														<label style="font-size:20px;font-weight:bold;">Upload Employee
															Image</label>
														<img src="{% if employee_data.profile_image %} {{employee_data.profile_image.url}} {% endif %}"
															id="profile-photo" class="img-fluid">
														<br>
														<label>Set New Profile Image</label>
														<input type="file" name="image" id="profile-image">
													</div>
													<div class="form-group col-md-4 mb-0">
														<label style="font-size:20px;font-weight:bold;">Upload Employee
															Signature</label>
														<img src="{% if employee_data.employee_signature %} {{employee_data.employee_signature.url}} {% endif %}"
															id="profile-sign" class="img-fluid">
														<br>
														<br>

														{% comment %} <label>Set New Profile Image</label> {% endcomment %}
														<input type="file" name="signature" id="profile-signatur">
													</div>
												</div><!-- /.card -->
												<!-- /.card -->

												<hr class="mt-1" />
												<div class="d-flex">
													<button type="button" class="prev btn btn-secondary">
														Previous
													</button>
													<button type="button" id="btnAddRecord"
														class="submit btn btn-primary ml-auto"
														data-validate="agreement">Submit</button>

												</div>
											</fieldset>
											<!-- /fieldset -->
										</div>
										<!-- /.content -->
									</form>
									<!-- /form -->
								</div>
								<!-- /.content -->

							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.bs-stepper -->
					<!-- toasts container -->
					<div aria-live="polite" aria-atomic="true">
						<!-- Position it -->
						<div style="
                      position: fixed;
                      top: 4.5rem;
                      right: 1rem;
                      z-index: 1050;
                    ">
							<!-- .toast -->
							<div id="submitfeedback" class="toast bg-dark border-dark text-light fade hide"
								data-delay="3000" role="alert" aria-live="assertive" aria-atomic="true">
								<div class="toast-header bg-primary text-white">
									Employee is created
								</div>
								<div class="toast-body">
									<strong>Congrats!</strong> You see the submit feedback.
								</div>
							</div>
							<!-- /.toast -->
						</div>
					</div>
					<!-- /toasts container -->
				</div>
			</div>


			<button type="button" id="btnSearch" class="btn btn-info pull-right">
				Search Employee
			</button>
		</div>

	</div>

	<div class="app">
		<div class="card card-fluid">
			<div class="card-body">
				<table id="dt-table-list" class="table dt-responsive nowrap w-100">
					<thead>
						<tr>
							<th>employee name</th>
							<th>Father name</th>
							<th>Mother name</th>
							<th>Blood Group</th>
							<th>Gender</th>
							<th>Religion</th>
							<th>Marital Status</th>
							<th>Nationality</th>
							<th>Country</th>
							<th>Division</th>
							<th>District</th>
							<th>Upozila</th>
							<th>Pressent Address</th>
							<th>Parmanent Address</th>
							<th>Phone own</th>
							<th>Phone Office</th>
							<th>Phone Home</th>
							<th>Passport No</th>
							<th>Driving License</th>
							<th>Tin No</th>
							<th>Email personal</th>
							<th>Joining</th>
							<th>DateOfBirth</th>
							<th>Status</th>
							<th>OP contact</th>
							<th>OP contact Name</th>
							<th>Op contact Relationship</th>
							<th>OP contact Phone</th>
							<th>Op contact Address</th>
							<th>Running Office</th>
							<th>employee Type</th>
							<th>Salary scale</th>
							<th>Designation</th>
							<th>Email Office</th>
							<th>Reporting Officer</th>
							<th>CurrentShift</th>
							<th>Office location</th>
							<th>Card Number</th>
							<th>Salary Bank</th>
							<th>Account No</th>
							<th>contract Start date</th>
							<th>Contract End date</th>
							<th>Last incriment Date</th>
							<th>Next incriment Date</th>
							<th>Service End date</th>
							<th>Last transfer Date</th>
							<th>Next transfer Date</th>
							<th>Job confirm date</th>
							<th>pf Date</th>
							<th>Gf Date</th>
							<th>None</th>
							<th>Action</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>employee name</th>
							<th>Father name</th>
							<th>Mother name</th>
							<th>Blood Group</th>
							<th>Gender</th>
							<th>Religion</th>
							<th>Marital Status</th>
							<th>Nationality</th>
							<th>Country</th>
							<th>Division</th>
							<th>District</th>
							<th>Upozila</th>
							<th>Pressent Address</th>
							<th>Parmanent Address</th>
							<th>Phone own</th>
							<th>Phone Office</th>
							<th>Phone Home</th>
							<th>Passport No</th>
							<th>Driving License</th>
							<th>Tin No</th>
							<th>Email personal</th>
							<th>Joining</th>
							<th>DateOfBirth</th>
							<th>Status</th>
							<th>OP contact</th>
							<th>OP contact Name</th>
							<th>Op contact Relationship</th>
							<th>OP contact Phone</th>
							<th>Op contact Address</th>
							<th>Running Office</th>
							<th>employee Type</th>
							<th>Salary scale</th>
							<th>Designation</th>
							<th>Email Office</th>
							<th>Reporting Officer</th>
							<th>CurrentShift</th>
							<th>Office location</th>
							<th>Card Number</th>
							<th>Salary Bank</th>
							<th>Account No</th>
							<th>contract Start date</th>
							<th>Contract End date</th>
							<th>Last incriment Date</th>
							<th>Next incriment Date</th>
							<th>Service End date</th>
							<th>Last transfer Date</th>
							<th>Next transfer Date</th>
							<th>Job confirm date</th>
							<th>pf Date</th>
							<th>Gf Date</th>
							<th>last promotion date</th>
							<th>Action</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="edit_model" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content"></div>
	</div>
</div>
<div class="modal fade" id="image_model" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog" style="max-width:80%" role="document">
		<div class="modal-content">
			<div class="modal-header">

				<input type="hidden" value="{{id}}" id="student_roll">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="img-container">
					<div class="row">
						<div class="col-md-5 offset-md-3" style="min-height:300px; max-height: 600px;">
							<img id="pro_image" src="https://avatars0.githubusercontent.com/u/3456749">

						</div>
						<div class="col-md-12">
							<div class="preview"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="crop">Crop</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="sing_model" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog" style="max-width:80%" role="document">
		<div class="modal-content">
			<div class="modal-header">

				<input type="hidden" value="{{id}}" id="student_roll">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="img-container">
					<div class="row">
						<div class="col-md-5 offset-md-3" style="min-height:300px; max-height: 600px;">
							<img id="sing_image" src="https://avatars0.githubusercontent.com/u/3456749">

						</div>
						<div class="col-md-12">
							<div class="singPreview"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="sing_crop">Crop</button>
			</div>
		</div>
	</div>
</div>
{% endblock body %} {% block js %}
<script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables/extensions/responsive/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables/extensions/responsive/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/vendor/parsleyjs/parsley.min.js' %}"></script>
<script src="{% static 'assets/javascript/pages/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'assets/vendor/bs-stepper/js/bs-stepper.min.js' %}"></script>
<script src="{% static 'assets/vendor/handalebars/handlebars-v4.7.7.js' %}"></script>
<script src="{% static 'assets/javascript/cropper/cropper.min.js' %}"></script>
<script src="{% static 'assets/javascript/pages/hrm/hrm-employee-list-edit.js' %}"></script>
<script src="{% static 'assets/javascript/pages/step_post_edit.js' %}"></script>
{% endblock %}
</div>
