{% load static %}
{% load crispy_forms_tags %}

<div class="modal-header"> </div>
{% csrf_token %}
<div class="container">
	<h4 align="center">Update Employee Information</h4>
	<div class="card">
		<div class="card-body">
			<div>
				<form method="post" id="edit_form" data-url="{% url 'appauth-employee-edit' id %}" class="update-form">
					{% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-4 mb-0">
							{{ form.employee_id|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.branch_code|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.employee_name|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.father_name|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.mother_name|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.employee_sex|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.joining_date|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.present_address|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.permanent_address|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.birth_date|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.nid_number|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.employee_religion|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.blood_group|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.employee_education|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.employee_designation|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.marital_status|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.mobile_num|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.alternate_phone|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.is_active|as_crispy_field }}
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Close</button>
				<button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
			</div>
			</form>
			<div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'assets/javascript/pages/common-submit-editdata.js' %}"></script>