education/settings.py

media/employee/profile/*
media/employee/signature/*
media/icard/*
media/logo/*
media/PDF/*
media/profile/*
media/signature/*
media/temp/*

education/__pycache__/*
appauth/templatetags/__pycache__/*
edu/templatetags/__pycache__/*
finance/templatetags/__pycache__/*
hostel/templatetags/__pycache__/*
transport/templatetags/__pycache__/*
hrm/templatetags/__pycache__/*
edu/migrations/*
edu/__pycache__/*
apiedu/migrations/*
apiedu/__pycache__/*
apiauth/migrations/*
apiauth/__pycache__/*
apihrm/migrations/*
apihrm/__pycache__/*
appauth/migrations/*
appauth/__pycache__/*
hrm/migrations/*
hrm/__pycache__/*
hostel/migrations/*
hostel/__pycache__/*
apihostel/migrations/*
apihostel/__pycache__/*
transport/migrations/*
transport/__pycache__/*
apitransport/migrations/*
apitransport/__pycache__/*
finance/migrations/*
finance/migrations/__pycache__/*
finance/__pycache__/*
apifinance/migrations/*
apifinance/__pycache__/*
db/others/*
website/migrations/*