{% load static %}
{% load crispy_forms_tags %}

<div class="modal-header"> </div>
{% csrf_token %}
<div class="container">
	<h4 align="center">Update SMS Application Setting Information</h4>
	<div class="card">
		<div class="card-body">
			<div>
				<form method="post" id="edit_form" data-url="{% url 'sms-application-settings-edit' id %}" class="update-form">
					{% csrf_token %}
					<div class="form-row">
            			<div class="form-item col-md-3 mb-0">
							{{ form.messaging_auth_url|as_crispy_field }}
						</div>
						<div class="form-item col-md-3 mb-0">
							{{ form.messaging_url|as_crispy_field }}
						</div>
						<div class="form-item col-md-3 mb-0">
							{{ form.messaging_username|as_crispy_field }}
						</div>
						<div class="form-item col-md-3 mb-0">
							{{ form.messaging_password|as_crispy_field }}
						</div>
						<div class="form-item col-md-3 mb-0">
							{{ form.total_message_limit|as_crispy_field }}
						</div>
						<div class="form-item col-md-3 mb-0">
							{{ form.is_messaging_on|as_crispy_field }}
						</div>
						<div class="form-item col-md-3 mb-0">
							{{ form.total_message_sent|as_crispy_field }}
						</div>
						<div class="form-item col-md-3 mb-0">
							{{ form.senderid|as_crispy_field }}
						</div>
						<div class="form-item col-md-3 mb-0">
							{{ form.api_key|as_crispy_field }}
						</div>
						<div class="form-item col-md-3 mb-0">
							{{ form.is_headers_require|as_crispy_field }}
						</div>
						<div class="form-item col-md-3 mb-0">
							{{ form.messaging_error|as_crispy_field }}
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Close</button>
				<button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
			</div>
			</form>
			<div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'assets/javascript/pages/common-submit-editdata.js' %}"></script>