{% load static %}
{% load crispy_forms_tags %}

<div class="modal-header"> </div>
{% csrf_token %}
<div class="container">
	<h4 align="center">Update Driver Information </h4>
	<div class="card">
		<div class="card-body">
			<div>
				<form method="post" id="edit_form" data-url="{% url 'transport-driver-edit' id %}" class="update-form">
					{% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-3 mb-0">
							{{ form.vehicle_id|as_crispy_field }}
						</div>
                        <div class="form-group col-md-3 mb-0">
							{{ form.driver_name|as_crispy_field }}
						</div>
                        <div class="form-group col-md-3 mb-0">
							{{ form.contact_no|as_crispy_field }}
						</div>
                        <div class="form-group col-md-3 mb-0">
							{{ form.license_no|as_crispy_field }}
						</div>
                        
					</div>

					<hr color="#346cb0">
									
										<div class="row d-address">
											<div class="form-group col-md-6 mb-0">
												<legend>Present Address</legend>
												<div class="form-group col-md mb-0">
													{{ form.pre_division_id|as_crispy_field }}
												</div>
												<div class="form-group col-md mb-0">
													{{ form.pre_district_id|as_crispy_field }}
												</div>
												<div class="form-group col-md mb-0">
													{{ form.pre_upozila_id|as_crispy_field }}
												</div>
												<div class="form-group col-md mb-0">
													{{ form.dri_present_address|as_crispy_field }}
												</div>
											</div>
											<div class="form-group col-md-6 mb-0 div_permanent_address">
												<legend>Permanent Address</legend>	
												<div class="same_as" onclick="addressFunction()">
												{{ form.same_as|as_crispy_field }}
												</div>
												<div class="form-group col-md mb-0">
													{{ form.per_division_id|as_crispy_field }}
												</div>
												<div class="form-group col-md mb-0">
													{{ form.per_district_id|as_crispy_field }}
												</div>
												<div class="form-group col-md mb-0">
													{{ form.per_upozila_id|as_crispy_field }}
												</div>
												<div class="form-group col-md mb-0">
													{{ form.dri_permanent_address|as_crispy_field }}
												</div>
											</div>
										</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Close</button>
				<button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
			</div>
			</form>
			<div>
			</div>
		</div>
	</div>
</div>


 <script>
function addressFunction() {
    if (document.getElementById("id_same_as").checked) {
        $('#id_per_division_id').val($("#id_pre_division_id").val()).trigger('change');
        $('#id_per_district_id').val($("#id_pre_district_id").val()).trigger('change');
        $('#id_per_upozila_id').val($("#id_pre_upozila_id").val()).trigger('change');
        $("#id_dri_permanent_address").val($("#id_dri_present_address").val());
    } else {
        $('#id_per_division_id').val('').trigger('change');
        $('#id_per_district_id').val('').trigger('change');
        $('#id_per_upozila_id').val('').trigger('change');
        $("#id_dri_permanent_address").val('');
    }
}
</script> 

<script src="{% static 'assets/javascript/pages/common-submit-editdata.js' %}"></script>
