{% load static %}
{% load crispy_forms_tags %}
<div class="modal-header"> </div>
{% block body %}
    <div class="card">
    	<div class="card-body">
    		<div>
    			
    			    
    			<div class="card">
    				<div class="card-body">
    					<div id="institute_form">
    						{% csrf_token %}
    						<div class="form-row" >
                                <div class="form-group col-md-12 mb-0">
									<h3 align="center" style="color:black;font-size:30px;"class="card-title"> Add New Institute </h3>
								</div>
                                <div class="form-group col-md-3 mb-0">
    								{{ form.institute_name|as_crispy_field }}
    							</div>
    							<div class="form-group col-md-3 mb-0">
    								{{ form.institute_code|as_crispy_field }}
    							</div>
                                <div class="form-group col-md-3 mb-0">
    								{{ form.institute_address|as_crispy_field }}
    							</div>
    							<div class="form-group col-md-3 mb-0">
    								{{ form.institute_mobile|as_crispy_field }}
    							</div>
    							<div class="form-group col-md-4 mb-0">
    								{{ form.lower_degree|as_crispy_field }}
    							</div>
    							<div class="form-group col-md-3 mb-0">
    								{{ form.higher_degree|as_crispy_field }}
    							</div>
    						</div>
							<input type="hidden" value="" id="new-institute">
                            <div class="modal-footer">
    		                    <span onclick="New_institute()" class="btn btn-primary">Add</span>
    	                    </div>
    					</div>
    				</div>
    			</div>
    			
    		</div>
    	</div>
    </div>
{% endblock body %}