{% extends 'appauth/appauth-home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Update SectionInfo | {{ application_title }}
{% endblock %}

{% block body %} 
<div class="modal-header"> </div>
{% csrf_token %}
<div class="container">
	<h4 align="center">Update Section Information</h4>
	<div class="card">
		<div class="card-body">
			<div>
				<form method="post" data-url="{% url 'edu-sectioninfo-edit' id %}" class="update-form">
					{% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-3 mb-0">
							{{ form.class_id|as_crispy_field }}
						</div>
                        <div class="form-group col-md-3 mb-0">
							{{ form.section_name|as_crispy_field }}
						</div>
                        <div class="form-group col-md-3 mb-0">
							{{ form.total_student|as_crispy_field }}
						</div>
                        <div class="form-group col-md-3 mb-0">
							<label>Start Class Time</label>
							<input type="time" id="id_class_start_time" value="{{class_start_time}}" name="class_start_time" class="form-control">
						</div>
                        <div class="form-group col-md-3 mb-0">
							<label>End Class Time</label>
							<input type="time" id="id_class_end_time" value="{{class_end_time}}" name="class_end_time" class="form-control">
						</div>
						
					</div>
			</div>
			<div class="modal-footer">
				<button type="submit"  class="btn btn-primary">Submit</button>
			</div>
			</form>
			<div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}

	{% block js %}
	<script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/extensions/responsive/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/extensions/responsive/responsive.bootstrap4.min.js' %}"></script>
	<script src="{% static 'assets/javascript/pages/dataTables.bootstrap.js' %}"></script>
	
	<script src="{% static 'assets/javascript/pages/edu/edu-sectioninfo-edit.js' %}"></script>
	{% endblock %}
