<div class="form-row" id="save_data">
    <div class="form-group col-md-6 mb-0 left_side ">
        <div class="form-row  header p-1">
            <div class="form-group col-md-6 mb-0 header">
               <div class="custom-control custom-checkbox">
                    <input type="checkbox" value="1" class="custom-control-input" id="roll" onclick="allselect(this)">
                    <label class="custom-control-label" for="roll">Student Name</label>
                </div>
            </div>
            
            <div class="form-group col-md-6 mb-0 header">
                Student Roll
            </div>
        </div>
       
        {% for student in students %}
        
            <div class="form-row studentb">
                <div class="form-group col-md-6 mb-0">
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" value="{{student.student_roll}}" name="name{{ forloop.counter }}" 
                        {% for gide_table_info in student.tea_student_roll.all %}
                            {% if gide_table_info.student_status == 'A' and teacher_id == gide_table_info.teacher_id.teacher_id and gide_table_info.class_id.class_id == datafilter.class_id and gide_table_info.academic_year.id == datafilter.academic_year|add:"0" %} checked {% endif %} 
                        {% endfor %}
                        class="custom-control-input student" id="roll{{student.student_roll}}">
                        <label class="custom-control-label" for="roll{{student.student_roll}}">{{student.student_name}} </label>
                    </div>
                </div>
                    
                    <div class="form-group col-md-6 mb-0">
                        {{student.student_roll}}
                    </div>
            </div>
        {% endfor %}
    </div>
    
   <div class="form-group col-md-2 mb-0">
        <div class="form-row header">
            <div class="form-group col-12 mb-0 header" style="padding:1.3px;">
                <button type="button" class="btn btn-info btn-sm" onclick="save_choices_students()">Save</button>
            </div>
        </div> 
    </div>
</div>