{% load static %}
{% load crispy_forms_tags %}

<div class="modal-header"> </div>
{% csrf_token %}
<div class="container">
	<h4 align="center">Update Final Marks</h4>
	<div class="card">
		<div class="card-body">
			<div>
				<form method="post" id="edit_form" data-url="{% url 'edu-examsetting-edit' id %}" class="update-form">
					{% csrf_token %}
					<div class="form-group col-md-4 mb-0">
							{{ form.class_id|as_crispy_field }}
						</div>
                        <div class="form-group col-md-4 mb-0">
							{{ form.subject_id|as_crispy_field }}
						</div>
                        <div class="form-group col-md-4 mb-0">
							{{ form.exam_id|as_crispy_field }}
						</div>
                        <div class="form-group col-md-4 mb-0">
							{{ form.no_of_exam|as_crispy_field }}
						</div>
                        <div class="form-group col-md-4 mb-0">
							{{ form.select|as_crispy_field }}
						</div>
                        <div class="form-group col-md-4 mb-0">
							{{ form.out_of_exam|as_crispy_field }}
						</div>
			        </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Close</button>
				<button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
			</div>
			</form>
			<div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'assets/javascript/pages/common-submit-editdata.js' %}"></script>